<%- include('./partials/header') %>

        <form id="updateTeam" action="/accounts/<%= team._id %>?_method=PUT" method="POST" >
           
        <div>
                <input type="hidden" name="id" value="<%= team._id %>">
            <label for="name">Enter Team Name:</label>
            <input type="text" name="name" value= "<%= team.name%>" required>
        </div>
            <div>
            <label for="sport">Enter sport:</label>
            <input type="text" name="sport" value="<%= team.sport %>" required>
        </div>  
        <button name="updateTeam" type="submit">Edit Team</button>
    </form>
       
        
</body>
</html>